
{% load static %}
<!DOCTYPE html>
<html>
<title>SendMe</title>
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.jpg' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
p{
  font-size: 25x;
}
</style>
<body class="w3-text-grey w3-large">

  <div class="w3-bar w3-top w3-large w3-pale-blue w3-card-2 w3-left-align">
    <a class="w3-hide-medium w3-hide-large w3-bar-item w3-button
    w3-opennav w3-right" href="javascript:void(0);" onclick="myFunction()">☰</a>
    <a class="w3-bar-item w3-buttn  " href="#">
      <img src="{% static 'images/logo35.png'%}" style="width:129px;height:35px"alt="logo"></a>
    <a class="w3-bar-item w3-button  w3-hide-small w3-right" href="{% url 'login' %}">Login|Signup</a>
    <a class="w3-hide-small w3-bar-item w3-button w3-right" href="#">How to</a>
    <a class="w3-hide-small w3-bar-item w3-button w3-right" href="#">Jobs</a>
  </div>

  <div id="demo" class="w3-hide w3-hide-large  w3-hide-medium">
    <div class="w3-bar-block  w3-left-align w3-large w3-pale-blue">
      <a class="w3-bar-item w3-buttn  " href="#">
        <img src="{% static 'images/logo35.png'%}" style="width:129px;height:35px"alt="logo"></a>
      <a class=" w3-bar-item w3-button"href="#">Jobs</a>
      <a class=" w3-bar-item w3-button"href="#">How to</a>
      <a class=" w3-bar-item w3-button"href="#">Login|Signup</a>
    </div>
  </div>

  <div class="w3-content w3-section" style="max-width:900px">
    <img class="mySlides" src="{% static 'images/symons.jpg'%}" style="width:100%;height:300px">
    <img class="mySlides" src="{% static 'images/open-book-128.png'%}" style="width:100%;height:300px">
    <img class="mySlides" src="{% static 'images/Owl-Book-128.png'%}" style="width:100%;height:300px">
  </div>
<div class="" style="padding-left:21%;padding-right:21%">

  <div class="w3-panel w3-text-light-green w3-card w3-round-xxlarge">
    <h3>Disclaimer!</h3>
    <p><b> SendMe is a revolutionary source of income and way to connect those who
        want work and those who want their tasks Done
        by professionals.Currently we are in developement mode and this version
         is out only for beta test. We'll be glad to
        get your views and feedback..</b></p>
  </div>
  </div>

  <h3 class="w3-center"><b>How it works</b></h3>
  <hr class="w3-border-red " style="margin:auto;width:40%">

  <p class="" style="padding-left:21%;padding-right:21%">
    As simple as 1...2...3 you will be able to make some Dollars or
    get your errands in time.You can use sendMe in two different ways either register as
    a job giver that allows you to upload your job, pay and choose worker of your choise
    to handle your job.<br><br>Another way is to apply to become a jober, which will require
    you to proove your competency.
  </p>


  <section>
     <!-- Menu Container -->
     <div class="w3-container" id="menu">
       <div class="w3-content" style="max-width:800px">

         <div class="w3-row w3-center w3-card w3-padding">
           <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
             <div class="w3-col s6 tablink">Worker</div>
           </a>
           <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
             <div class="w3-col s6 tablink">Employer</div>
           </a>
         </div>

         <div id="Eat" class="w3-container menu w3-paddng-48 w3-card">


           <p class=""><b>1.</b><i> Register on our system <a href="#" class="w3-text-light-green"> here </a> </i></p>
            <p class=""><b>2.</b><i> Once registered, you will be prompted to update your information.Please be frank and upload
            authentic documents (Id, Certifiacte of good conduct and Certifiactes prooving your skills ) </i></p>

            <p class=""><b>3.</b><i> Wait for verification which will be done by our stuff.This will be withing 6 business days.
              feedback will be sent to your email and back office</i></p>

             <p class=""><b>4.</b><i> Once <span class="w3-text-light-green">verified</span>, You can start biding for jobs immediatley</i></p>

              <p class=""><b><i> Incase of any difficulties, don't hesitate to contact us <a class="w3-text-light-green" href="#">Here</a> </i></b></p>
         </div>

         <div id="Drinks" class="w3-container menu w3-padding-18 w3-card">
           <i>Nothing much for you</i>
           <p class=""><b>1.</b><i> Register on our system  <a class="w3-text-light-green" href="#">Here</a> </i></p>
           <p class=""><b>2.</b><i> Once registered you'll be prompeted to update your prifie(contact)</i></p>
           <p class=""><b>3.</b><i> You are can post your task immediatley after succesfull registration</i></p>
           <p class=""><b><i> Incase of any difficulties, don't hesitate to contact us <a class="w3-text-light-green" href="#">Here</a> </i></b></p>
         </div>
       </div>
     </div>
   </section>


  <h3 class="w3-center"><b>Available jobs</b></h3>
  <hr class="w3-border-red" style="margin:auto;width:40%">

  <div class="w3-row-padding w3-margin-top">
  </div>
  <div class="w3-row-padding w3-margin-top">

    <div class="w3-third" style="margin-top:10px">
      <div class="w3-card-2">
      <div class="w3-container">
        <h5 style="margin-bottom:-2%"><b>Honey Sacking</b></h5>
        <p  style="font-size:10px;margin-bottom:-5%" class="w3-btn-block"><i><b class="w3-text-teal">Range:Ksh.5600-Ksh.7000 |
        By:Symons | Kisumu</b></i></p>
        <hr>
        <img src="{% static 'images/logo.jpg'%}" alt="Avatar" class="w3-left w3-circle">
        <p style="font-size:15px">My fucking toilet sucks. someone cum suck it
           please! I'll, pay handsomeley </p>
      </div>

      <button style="font-size:10px" class="w3-btn-block w3-hide-small w3-pale-blue">
        Time left: <span class="w3-text-red "><b>6days 8hrs 56mins</b></span> </button>
        <button style="font-size:10px" class="w3-btn-block w3-pale-blue w3-hide-large w3-hide-medium">Available</button>
      <button style="font-size:10px" class="w3-btn-block w3-pale-blue">Bids:7/16</button>
      <button style="font-size:10px" class="w3-btn-block w3-pale-blue">Bid now</button>
      </div>
    </div>

  <div class="w3-third" style="margin-top:10px">
    <div class="w3-card-2">
    <div class="w3-container">
      <h5 style="margin-bottom:-2%"><b>Honey Sacking</b></h5>
      <p  style="font-size:10px;margin-bottom:-5%" class="w3-btn-block w3-text-teal"><i><b>Range:Ksh.56.00-Ksh.70.00 |
      By:Symons | Kisumu</b></i></p>
      <hr>
      <img src="{% static 'images/logo.jpg'%}" alt="Avatar" class="w3-left w3-circle">
      <p style="font-size:15px">My fucking toilet sucks. someone cum suck it
         please! I'll, pay handsomeley </p>
    </div>

    <button style="font-size:10px" class="w3-btn-block w3-pale-blue">
      Time left: <span class="w3-text-red"><b>6days 8hrs 56mins</b></span> </button>
    <button style="font-size:10px" class="w3-btn-block w3-pale-blue">Bids:7/16</button>
    <button style="font-size:10px" class="w3-btn-block w3-pale-blue">Bid now</button>
    </div>
  </div>

  <div class="w3-third" style="margin-top:10px">
    <div class="w3-card-2">
    <div class="w3-container">
      <h5 style="margin-bottom:-2%"><b>Honey Sacking</b></h5>
      <p  style="font-size:10px;margin-bottom:-5%" class="w3-btn-block w3-text-teal"><i><b>Range:Ksh.56.00-Ksh.70.00 |
      By:Symons | Kisumu</b></i></p>
      <hr>
      <img src="{% static 'images/logo.jpg'%}" alt="Avatar" class="w3-left w3-circle">
      <p style="font-size:15px">My fucking toilet sucks. someone cum suck it
         please! I'll, pay handsomeley </p>
    </div>

    <button style="font-size:10px" class="w3-btn-block w3-pale-blue">
      Time left: <span class="w3-text-red"><b>6days 8hrs 56mins</b></span> </button>
    <button style="font-size:10px" class="w3-btn-block w3-pale-blue">Bids:7/16</button>
    <button style="font-size:10px" class="w3-btn-block w3-pale-yellow">Bid now</button>
    </div>
  </div>
  </div>


  <h3 class="w3-center"><b>Our Developers</b></h3>
  <hr class="w3-border-red" style="margin:auto;width:40%">

<div class="w3-row-padding w3-margin-top">
</div>
<div class="w3-row-padding w3-margin-top">

  <div class="w3-third">
  <div class=" w3-display-container w3-card" style="height:200px" >
  <img class="w3-opacity-min"src="{% static 'images/symons.jpg'%}" style="width:100%;height:200px">
  <div class="w3-display-bottomleft w3-text-teal">

      <b class="w3-text-white">Symons</b>
    </div>
  </div>
  <div class="w3-container w3-center">
    <h5 style="margin-bottom:-17px">C.E.O and Co-founder</h5>
    <div class="w3-panel w3-leftbar w3-rightbar">
      <h4 class="w3-large w3-serif "><b><i>" Our imagination is our only limit,we can <!DOCTYPE html>
      just anything and everything"</i></b></h4>
    <hr class="w3-border-red" style="margin:auto;width:40%">
  </div>
  </div>
  </div>

  <div class="w3-third">
  <div class=" w3-display-container w3-card" style="height:200px" >
  <img class="w3-opacity-min"src="{% static 'images/symons.jpg'%}" style="width:100%;height:200px">
  <div class="w3-display-bottomleft w3-text-teal">

      <b class="w3-text-white">Symons</b>
    </div>
  </div>
  <div class="w3-container w3-center">
    <h5 style="margin-bottom:-17px">C.E.O and Co-founder</h5>
    <div class="w3-panel w3-leftbar w3-rightbar">
      <h4 class="w3-large w3-serif "><b><i>" Our imagination is our only limit,we can <!DOCTYPE html>
      just anything and everything"</i></b></h4>
    <hr class="w3-border-red" style="margin:auto;width:40%">
  </div>
  </div>
  </div>

<div class="w3-third">
<div class=" w3-display-container w3-card" style="height:200px" >
<img class="w3-opacity-min"src="{% static 'images/symons.jpg'%}" style="width:100%;height:200px">
<div class="w3-display-bottomleft w3-text-teal">

    <b class="w3-text-white">Symons</b>
  </div>
</div>
<div class="w3-container w3-center">
  <h5 style="margin-bottom:-17px">C.E.O and Co-founder</h5>
  <div class="w3-panel w3-leftbar w3-rightbar ">
    <h4 class="w3-large w3-serif "><b><i>" Our imagination is our only limit,we can <!DOCTYPE html>
    just anything and everything"</i></b></h4>
  <hr class="w3-border-red" style="margin:auto;width:40%">
</div>
</div>
</div>
<br>
</div>
<br >
</div>
<!-- footer begins here -->
<footer class="w3-container w3-pale-blue w3-card-4 w3-center w3-teal">
  <h5><img src="{% static 'images/logo35.png'%}" style="width:129px;height:35px"alt="logo"></h5>
  <p>Powered by SendMe group of developers</p>
  <i> &copy sendMe|2018-2019</i>

</footer>


<script>
function myFunction() {
    document.getElementById("demo").classList.toggle("w3-show");
}
</script>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 4000); // Change image every 2 seconds
}
</script>

<script>
        // Tabbed Menu
        function openMenu(evt, menuName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("menu");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-pale-blue", "");
          }
          document.getElementById(menuName).style.display = "block";
          evt.currentTarget.firstElementChild.className += " w3-pale-blue";
        }
        document.getElementById("myLink").click();
        </script>

</body>
