
{% load static %}
<!DOCTYPE html>
<html>
<title>SendMe</title>
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.jpg' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3school.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
p{
  font-size: 25x;
}
</style>
<body class="w3-text-grey w3-large">


<!--  begin here-->

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-pale-blue w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large"><img src="{% static 'images/logo35.png'%}" style="width:129px;height:35px"alt="logo"></a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-right w3-hide-small">LOGIN|SIGNUP</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-right w3-hide-small">HOW TO</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-right w3-hide-small">EARN</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-right w3-hide-small">ADD TASK</a>
    <div class="w3-dropdown-hover w3-right w3-hide-small">
      <button class="w3-padding-large  w3-button" title="More">{{request.user.username }} <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'edb'%}" class="w3-bar-item w3-button">Darshbord</a>
        <a href="#" class="w3-bar-item w3-button">Edit profile</a>
        <a href="#" class="w3-bar-item w3-button">Upgrade</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-left w3-hide-small "><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-pale-blue w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOGIN|SIGNUP</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOW TO</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">EARN</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ADD TASK</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img class="w3-opacity" src="{% static 'images/vacation.jpg'%}" style="width:100%">
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <p style="color:blue;Font-size:46px">No Vacation Time?</p>
      <p style="Font-size:36px"><b><i>Don't Worry About Your Tasks, Enjoy As Your Tasks Are Done! </i><span style="color:black;font-weight:150px">send </span><span style="color:blue;font-weight:150px">Me</span> </b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img class="w3-opacity" src="{% static 'images/freedom.jpg'%}" style="width:100%">
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <p style="color:blue;Font-size:46px">Need Freedom?</p>
      <p style="Font-size:36px;color:black"><b><i>Work When You Feel Like $ Do What You Like Doing With </i><span style="color:white;font-weight:150px">send </span><span style="color:blue;font-weight:150px">Me</span> </b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img class="w3-opacity" src="{% static 'images/jobless.jpg'%}" style="width:100%">
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <p style="color:blue;Font-size:46px">No Job??</p>
      <p style="Font-size:36px"><b><i>Never Worry About Having A job Again! You have </i><span style="color:black;font-weight:150px">send </span><span style="color:blue;font-weight:150px">Me</span> </b></p>
    </div>
  </div>

<!--  end here-->


<div class="" style="padding-left:13%;padding-right:15%">

  <div class="w3-panel w3-text-light-green w3-card w3-round-xxlarge">
    <h3>Disclaimer!</h3>
    <p><b> SendMe is a revolutionary source of income and way to connect those who
        want work and those who want their tasks Done
        by professionals.Currently we are in developement mode and this version
         is out only for beta test. We'll be glad to
        get your views and feedback..</b></p>
  </div>
  </div>

  <h3 class="w3-center"><b>How it works</b></h3>
  <hr class="w3-border-red " style="margin:auto;width:40%">

  <p class="" style="padding-left:8%;padding-right:8%">
    As simple as 1...2...3 you will be able to make some Dollars or
    get your errands in time.You can use sendMe in two different ways either register as
    a job giver that allows you to upload your job, pay and choose worker of your choise
    to handle your job.<br><br>Another way is to apply to become a jober, which will require
    you to proove your competency.
  </p>


  <section>
     <!-- Menu Container -->
     <div class="w3-container" id="menu">
       <div class="w3-content" style="max-width:800px">

         <div class="w3-row w3-center w3-card w3-padding">
           <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
             <div class="w3-col s6 tablink">Worker</div>
           </a>
           <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
             <div class="w3-col s6 tablink">Employer</div>
           </a>
         </div>

         <div id="Eat" class="w3-container menu w3-paddng-48 w3-card">


           <p class=""><b>1.</b><i> Register on our system <a href="#" class="w3-text-light-green"> here </a> </i></p>
            <p class=""><b>2.</b><i> Once registered, you will be prompted to update your information.Please be frank and upload
            authentic documents (Id, Certifiacte of good conduct and Certifiactes prooving your skills ) </i></p>

            <p class=""><b>3.</b><i> Wait for verification which will be done by our stuff.This will be withing 6 business days.
              feedback will be sent to your email and back office</i></p>

             <p class=""><b>4.</b><i> Once <span class="w3-text-light-green">verified</span>, You can start biding for jobs immediatley</i></p>

              <p class=""><b><i> Incase of any difficulties, don't hesitate to contact us <a class="w3-text-light-green" href="#">Here</a> </i></b></p>
         </div>

         <div id="Drinks" class="w3-container menu w3-padding-18 w3-card">
           <i>Nothing much for you</i>
           <p class=""><b>1.</b><i> Register on our system  <a class="w3-text-light-green" href="#">Here</a> </i></p>
           <p class=""><b>2.</b><i> Once registered you'll be prompeted to update your prifie(contact)</i></p>
           <p class=""><b>3.</b><i> You are can post your task immediatley after succesfull registration</i></p>
           <p class=""><b><i> Incase of any difficulties, don't hesitate to contact us <a class="w3-text-light-green" href="#">Here</a> </i></b></p>
         </div>
       </div>
     </div>
   </section>


  <h3 class="w3-center"><b>Available jobs</b></h3>
  <hr class="w3-border-red" style="margin:auto;width:40%">

  <div class=" w3-margin-top w3-row-padding">
  {% for job in jobs%}
    <div class="w3-col s4 w3-mobile " style="height:200px;margin-top:10px">

      <div class="w3-card-2" >
      <div class="w3-container">
        <h5 style="margin-bottom:-2%"><b>{{job.title}}</b></h5>
        <p  style="font-size:10px;margin-bottom:-5%" class="w3-btn-block"><i><b class="w3-text-teal">Range:Ksh.{{job.lower_range}}-Ksh.{{job.upper_range}} |
        By:{{job.owner}} | {{job.location}}</b></i></p>
        <hr>
        <img src="{% static 'images/logo.jpg'%}" alt="Avatar" class="w3-left w3-circle">
        <p class="w3-large">{{job.job_description}} </p>
      </div>
      <button style="font-size:10px" class="w3-btn-block w3-hide-small w3-pale-blue">
        Time left: <span class="w3-text-red "><b>6days 8hrs 56mins</b></span> </button>
        <button style="font-size:10px" class="w3-btn-block w3-pale-blue w3-hide-large w3-hide-medium">Available</button>
      <button style="font-size:10px" class="w3-btn-block w3-pale-blue">Bids:7/16</button>
      <button style="font-size:10px" class="w3-btn-block w3-pale-blue">Bid now</button>
      </div>
          </div>
          {% endfor %}
    </div>


  <h3 class="w3-center"><b>Our Developers</b></h3>
  <hr class="w3-border-red" style="margin:auto;width:40%">

<div class="w3-row-padding w3-margin-top">
</div>
<div class="w3-row-padding w3-margin-top">

  <div class="w3-third">
  <div class=" w3-display-container w3-card" style="height:300px" >
  <img class="w3-opacity-min"src="{% static 'images/mercy.jpg'%}" style="width:100%;height:100%">
  <div class="w3-display-bottomleft w3-text-teal">

      <b class="w3-text-white">Mercy Morema</b>
    </div>
  </div>
  <div class="w3-container w3-center">
    <h5 style="margin-bottom:-17px">C.E.O and Co-founder</h5>
    <div class="w3-panel w3-leftbar w3-rightbar">
      <h4 class="w3-large w3-serif "><b><i>" Our imagination is our only limit,we can do
      just anything and everything"</i></b></h4>
    <hr class="w3-border-red" style="margin:auto;width:40%">
  </div>
  </div>
  </div>

  <div class="w3-third">
  <div class=" w3-display-container w3-card" style="height:300px" >
  <img class="w3-opacity-min"src="{% static 'images/symons.jpg'%}" style="width:100%;height:100%">
  <div class="w3-display-bottomleft w3-text-teal">

      <b class="w3-text-white">Symons Ombori</b>
    </div>
  </div>
  <div class="w3-container w3-center">
    <h5 style="margin-bottom:-17px">C.E.O and Co-founder</h5>
    <div class="w3-panel w3-leftbar w3-rightbar">
      <h4 class="w3-large w3-serif "><b><i>" When health is gone, all is gone.I choose good health
        before anything"</i></b></h4>
    <hr class="w3-border-red" style="margin:auto;width:40%">
  </div>
  </div>
  </div>

<div class="w3-third">
<div class=" w3-display-container w3-card" style="height:300px" >
<img class="w3-opacity-min"src="{% static 'images/basil.jpg'%}" style="width:100%;height:100%">
<div class="w3-display-bottomleft w3-text-teal">

    <b class="w3-text-teal">Basil Ochieng</b>
  </div>
</div>
<div class="w3-container w3-center">
  <h5 style="margin-bottom:-17px">C.E.O and Co-founder</h5>
  <div class="w3-panel w3-leftbar w3-rightbar ">
    <h4 class="w3-large w3-serif "><b><i>" Our imagination is our only limit,we can <!DOCTYPE html>
    just anything and everything"</i></b></h4>
  <hr class="w3-border-red" style="margin:auto;width:40%">
</div>
</div>
</div>
<br>
</div>
<br >
</div>



<!-- footer begins here -->
<footer class="w3-container w3-pale-blue w3-card-4 w3-center w3-teal">
  <h5><img src="{% static 'images/logo35.png'%}" style="width:129px;height:35px"alt="logo"></h5>
  <p>Powered by SendMe group of developers</p>
  <i> &copy sendMe|2018-2019</i>

</footer>


<!-- <script>
function myFunction() {
    document.getElementById("demo").classList.toggle("w3-show");
}
</script> -->

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 4000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<script>
        // Tabbed Menu
        function openMenu(evt, menuName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("menu");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-pale-blue", "");
          }
          document.getElementById(menuName).style.display = "block";
          evt.currentTarget.firstElementChild.className += " w3-pale-blue";
        }
        document.getElementById("myLink").click();
        </script>

</body>
